.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    display: flex;
    align-items: center;
    color: #b3b3b3; 
    font-weight: bold;
}

.arrow {
    margin-left: 5px;
    transition: transform 0.3s;
}

.dropdown:hover .arrow {
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
    color: #d4af37;
}

.dropdown:hover .dropdown-content {
    display: block;
}
